:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #af001a;
    --yellow-color: #c9a83f;
    --section-color: #e0e5e7;
}
body{
    font-family: 'Roboto', sans-serif;
}
.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}
.main-btn:hover {
    background-color: #a54d5a;
    color: #f9efd0;
}
.main-title::after {
    content: "";
    width: 120px;
    height: 2.5px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}
.navbar .search {
    border-left: 1px solid var(--green-color);
}
.navbar .search svg {
    color: var(--green-color);
}
.navbar .navbar-toggler {
    color: #fff;
    font-size: 25px;
    border-color: #fff;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
    color: var(--green-color)
}
/* End Navbar */
/* start Landing */
.landing {
    background-color: var(--dark-color);
    background: url(./../images/bg.jpg);
    background-size: cover;
    min-height: calc(100vh - 72px);
}

.landing .over-lay {
    width: 100%;
    height: calc(100vh - 72px);
    position: absolute;
    background-color: rgb(0 0 0 / 35%);
}

.landing .level-up {
    z-index: 111;
}

/* End Landing */
/* start Features */
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon {
    color: var(--green-color);
}
.features .feat h4 {
    color: var(--yellow-color);
}
/* End Features */
/* Start OutWork */
.our-work {
    background-color: var(--section-color);
}
.our-work ul .active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 15%;
}
.our-work ul li:not(.active):hover {
    color: var(--red-color);
}
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: .4s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before{
    transform: translateX(0);
}
.our-work a.want-more {
    padding: .7rem 1.5rem;
}
/* End OutWork */
/* start Stuff */
.stuff .description {
    max-width: 500px;
}
.stuff .text h4 {
    color: var(--dark-color);
    font-size: 1.6rem;
}
/* End Stuff */
/* Start Our Team */
.our-team {
    background-color: var(--section-color);
}
.our-team h2, .our-work h2, .stuff h2 {
    color: var(--yellow-color);
}
.our-team .box h4 {
    background-color: var(--green-color);
}
/* End Our Team */
/* Start Projects */
.project {
    background-color: var(--dark-color);
}

.project h2 {
    position: relative;
}

.project h2::after {
    content: "";
    position: absolute;
    left: 44%;
    top: 55%;
    bottom: 10px;
    height: 4px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--green-color);
}

/* End Projects */
/* Start Subscribe */
.subscribe {
    background-color: #c9a83f;
}
.subscribe input[type="text"] {
    border: none;
    border-bottom: 1.5px solid white;
}
.subscribe input[type="text"]:focus {
    outline: none;
}
.subscribe ::placeholder {
    color: #fff;
}
.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
}
/* End Subscribe */
.footer{
    background-color: var(--dark-color);
}
.footer .copyright > span {
    color: var(--green-color);
}
.footer .copyright div span {
    color: var(--yellow-color);
}
.footer .contact ul svg {
    width: 20px;
    height: 20px;
    color: #fff;
}
.footer .facebook {
    background-color: #1877f2;
}
.footer .twitter {
    background-color: #1da1f2;
}
.footer .linkedin {
    background-color: #0077b5;
}
.footer .youtube {
    background-color: #ff0000;
}
/* End Footer */